* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto ao centro */
    padding: 0; /* Remove qualquer espaço interno */
    background-image: url('assets/7.jpeg'); /* Imagem de fundo */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-size: 50% auto; /* Tamanho da imagem de fundo */
    background-position: center; /* Posição da imagem de fundo */
    background-attachment: fixed; /* A imagem de fundo não rola com a página */
}

/* Estilo do container principal */
.container {
    display: flex; /* Usar flexbox para layout */
    align-items: center; /* Alinhar itens verticalmente */
    width: 50%; /* Largura do container */
    margin: 0 auto; /* Centralizar o container */
    background-color: #2c2c2c; /* Cor de fundo do container */
    justify-content: space-between; /* Espaçamento entre itens */
}

/* Estilo do topo à esquerda */
.Topo_Esq {
    display: flex; /* Usar flexbox para layout */
}

/* Estilo da lista de navegação */
.lista ul {
    display: flex; /* Usar flexbox para layout */
    gap: 1.5rem; /* Espaçamento entre itens da lista */
    padding-right: 0.5rem; /* Preenchimento à direita */
}

/* Remover marcadores de lista */
li {
    list-style: none; /* Não exibir marcadores de lista */
}

/* Estilo do logo */
.logo img {
    width: 50px; /* Largura da imagem do logo */
    height: auto; /* Altura automática */
    margin-right: 10px; /* Margem à direita */
}

/* Estilo do texto no topo */
.texto p {
    font-family: 'Mea Culpa', cursive; /* Fonte personalizada */
    font-size: 2rem; /* Tamanho da fonte */
    color: #b0b0b0; /* Cor do texto */
}

/* Estilo do cabeçalho */
header {
    margin-bottom: 100px; /* Margem inferior */
    margin-top: 50px; /* Margem superior */
}

/* Estilo do cabeçalho h3 */
header h3 {
    font-size: 2rem; /* Tamanho da fonte */
    color: #b0b0b0; /* Cor do texto */
}
/* Estilos para centralizar o vídeo */
.video-section {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

video {
    width: 40%; /* 40% da tela */
    border: 5px solid #ffffff; /* Borda branca */
    border-radius: 10px;
}
/* Estilo das categorias */
.categorias {
    display: flex; /* Usar flexbox para layout */
    justify-content: center; /* Alinhar ao centro */
    gap: 40px; /* Espaçamento entre categorias */
    margin-bottom: 100px; /* Margem inferior */
    margin-top: 100px; /* Margem superior */
}

/* Estilo de cada categoria */
.categoria {
    text-align: center; /* Alinhamento do texto ao centro */
}

/* Estilo das imagens das categorias */
.categoria img {
    width: 150px; /* Largura da imagem */
    height: auto; /* Altura automática */
    border-radius: 10px; /* Bordas arredondadas */
    margin-bottom: 10px; /* Margem inferior */
}

/* Efeito de hover nas categorias */
.categoria:hover {
    box-shadow: 
        #ffffff7f 0px -23px 25px 0px inset,
        #f6f4f464 0px -36px 30px 0px inset,
        #ece7e71a 0px -79px 40px 0px inset,
        #ded6d646 0px 2px 1px,
        #dcd6d642 0px 4px 2px,
        #e4e0e035 0px 8px 4px,
        #f6f5f533 0px 16px 8px,
        #eeeaea17 0px 32px 16px; /* Sombras aplicadas no hover */
}

/* Estilo do texto das categorias */
.categoria p {
    font-size: 1.2rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}

/* Estilos para as linhas e o título */
.linhas {
    display: flex; /* Usar flexbox para layout */
    justify-content: center; /* Alinhar ao centro */
    flex-direction: column; /* Direção das linhas */
    align-items: center; /* Alinhar itens ao centro */
    margin: 40px 0; /* Margens superior e inferior */
}

/* Estilo da linha */
.linha {
    width: 50%; /* Largura da linha */
    height: 2px; /* Altura da linha */
    background-color: #b0b0b0; /* Cor da linha */
    margin: 10px 0; /* Margem superior e inferior */
}

/* Estilo da seção sobre a desenvolvedora */
.sobre {
    margin: 100px 0; /* Margens superior e inferior */
}

/* Estilo da imagem da desenvolvedora */
.sobre img {
    width: 150px; /* Largura da imagem */
    height: 250px; /* Altura da imagem */
    border-radius: 50%; /* Bordas arredondadas */
    margin-bottom: 30px; /* Margem inferior */
    border: 5px solid white; /* Borda branca */
}

/* Estilo do texto da desenvolvedora */
.sobre p {
    font-size: 1rem; /* Tamanho da fonte */
    line-height: 1.6; /* Altura da linha */
    width: 80%; /* Largura do texto */
    margin: 0 auto; /* Centralizar texto */
    color: #f7f0f0; /* Cor do texto */
}

/* Estilo da seção de newsletter */
.newsletter {
    display: flex; /* Usar flexbox para layout */
    align-items: center; /* Alinhar itens ao centro */
    width: 50%; /* Largura da seção */
    margin: 0 auto; /* Centralizar seção */
    background-color: #2c2c2c; /* Cor de fundo da seção */
    padding: 20px; /* Preenchimento interno */
    flex-direction: column; /* Direção dos itens */
    text-align: center; /* Alinhamento do texto ao centro */
}

/* Estilo do formulário da newsletter */
.newsletter form {
    display: flex; /* Usar flexbox para layout */
    flex-direction: column; /* Direção dos itens do formulário */
    align-items: center; /* Alinhar itens ao centro */
    width: 100%; /* Largura do formulário */
}

/* Estilo dos inputs do formulário */
.newsletter input[type="text"],
.newsletter input[type="email"] {
    width: 50%; /* Largura dos inputs */
    padding: 12px; /* Preenchimento interno */
    margin-top: 10px; /* Margem superior */
    font-size: 1.1rem; /* Tamanho da fonte */
    border: 1px solid #888; /* Borda cinza */
    border-radius: 5px; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui preenchimento e borda no tamanho total */
}

/* Estilo das labels do formulário */
.newsletter label {
    margin-top: 10px; /* Margem superior */
}

/* Estilo do botão de inscrição */
.newsletter button {
    margin-top: 20px; /* Margem superior */
    padding: 10px 20px; /* Preenchimento interno */
    background-color: #8a2832; /* Cor de fundo do botão */
    border: none; /* Remover borda */
    color: #fff; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Cursor pointer ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Estilo do botão de inscrição ao passar o mouse */
.newsletter button:hover {
    background-color: #9a575b; /* Cor de fundo do botão ao passar o mouse */
}

/* Estilo da checkbox da newsletter */
.checkbox {
    display: flex; /* Usar flexbox para layout */
    align-items: center; /* Alinhar itens ao centro */
    margin-top: 20px; /* Margem superior */
}

/* Estilo da label da checkbox */
.checkbox label {
    margin-left: 5px; /* Margem à esquerda */
    font-size: 1rem; /* Tamanho da fonte */
}

/* Estilo do rodapé */
footer {
    margin-top: 30px; /* Margem superior */
    font-size: 0.9rem; /* Tamanho da fonte */
    color: #bbbbbb; /* Cor do texto */
    text-align: center; /* Alinhamento do texto ao centro */
}
