* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
    padding: 0; /* Remove qualquer espaço interno */
    background-image: url('assets/7.jpeg'); 
    background-repeat: no-repeat;
    background-size: 60% auto; 
    background-position: center; 
    background-attachment: fixed; 
}

.container {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    background-color: #2c2c2c;
    justify-content: space-between;
}
.Topo_Esq{
    display: flex;

}
.lista ul{
    display: flex;
    gap: 1.5rem;
    padding-right: 0.5rem;
}
li{
    list-style: none;
}
.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.texto p {
    font-family: 'Mea Culpa', cursive;
    font-size: 2rem;
    color: #b0b0b0;
}

header {
    margin-bottom: 100px;
    margin-top: 50px;
}

header h3 {
    font-size: 2rem;
    color: #b0b0b0;
}
/* Estilos para centralizar o vídeo */
.video-section {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

video {
    width: 40%; /* 40% da tela */
    border: 5px solid #ffffff; /* Borda branca */
    border-radius: 10px;
}

.categorias {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.categoria {
    text-align: center;
}

.categoria img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.categoria:hover {
    box-shadow: #ffffff7f 0px -23px 25px 0px inset,
    #f6f4f464 0px -36px 30px 0px inset,
    #ece7e71a 0px -79px 40px 0px inset, #ded6d646 0px 2px 1px,
    #dcd6d642 0px 4px 2px, #e4e0e035 0px 8px 4px,
    #f6f5f533 0px 16px 8px, #eeeaea17 0px 32px 16px;
}
.categoria p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Estilos para as linhas e o título adicionados */
.linhas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.sobre-desenvolvedora {
    align-self: flex-start; /* Alinha à esquerda */
    margin-left: 10%; /* Espaço à esquerda */
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #b0b0b0; /* Cor da fonte */
}

.linha {
    width: 60%;
    height: 2px;
    background-color: #b0b0b0;
    margin: 10px 0;
}

.sobre {
    margin: 100px 0;
}

.sobre img {
    width: 150px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 5px solid white;
}

.sobre p {
    font-size: 1.rem;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
    color: #f7f0f0;
}

.newsletter {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    background-color: #2c2c2c;
    padding: 20px;  
    flex-direction: column;
    text-align: center;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
    width: 50%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1.1rem;
    border: 1px solid #888;
    border-radius: 5px;
    box-sizing: border-box;
}

.newsletter label {
    margin-top: 10px;
}

.newsletter button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8a2832;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #9a575b;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.checkbox label {
    margin-left: 5px;
    font-size: 1rem;
}

footer {
    margin-top: 30px;
    font-size: 0.9rem;
    color: #bbbbbb;
    text-align: center;
}
